:global(.ui) {
  .comment {
    overflow: auto;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status {
  font-weight: bold;
  text-transform: uppercase;
}
