<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Someone liked you post</title>
</head>

<body>
  <h1>Hello, {{ postAuthor.username }}</h1>
  <b>Your post was liked by {{ postLikedUser.username }}</b>
  <p>
    Post:
    <a href="{{ postLink }}">{{ postLink }}</a>
  </p>
</body>

</html>
