<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password recovery mail</title>
</head>

<body>
  <h1>To recover your password simply go to the password recovery page.</h1>
  <a href="{{ link }}">Reset password</a>
</body>

</html>
