<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Share post</title>
</head>

<body>
  <h1>Hello</h1>
  <b>{{ user.username }} shared a post with you.</b>
  <p>
    Have a look:
    <a href="{{ postLink }}">{{ postLink }}</a>
  </p>
</body>

</html>
