.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.checkbox {
  margin-bottom: 20px;

  &:last-child{
    margin-bottom: 0;
  }
}
