:global(.ui.avatar.image).avatar {
  margin: 0;
}

:global(.ui.horizontal.list>.item).listItem {
  margin: 0;
  padding: 0;
}

:global(.ui.horizontal.list>.item:first-child).listItem {
  padding: 0;
}

:global(.ui.horizontal.list).list {
  display: grid;
  min-width: 400px;
  grid-template-rows: repeat(auto-fill, 48px);
  grid-template-columns: repeat(auto-fill, 48px);
  grid-auto-rows: 48px;
  grid-gap: 5px;
  align-items: center;
  justify-items: center;
  height: 48px;
}