:global(.ui.placeholder).imagePlaceholder {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0 !important;

  &::after {
    background: transparent;
  }
}

.placeholderContainer {
  display: grid;
  grid-template-columns: repeat(8, 48px);
  grid-template-rows: repeat(1, 48px);
  grid-gap: 5px;
  grid-auto-rows: 48px;
}