body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
}

#root,
.fill {
  width: 100%;
  height: 100%;
}

#notification-container {
  position: relative;
  z-index: 9999;
  filter: none;
}

.ui.popup {
  filter: none !important;
}